/* Общие и технические классы */

._container {
  position: relative;
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
  overflow: hidden;
}

._btn {
  font-family: inherit;
  font-size: 20px;
  width: 220px;
  height: 55px;
  border: 0;
  background-color: transparent;
  color: $beige;
  border: 1px solid $beige;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  &:hover {
    color: white;
  }
}

._btn-transparent {
  color: black;
  background-color: $beige;
}

._ftxt {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  line-height: 40px;
  color: $beige;
  border: 2px solid $beige;
  background-color: rgba(0, 0, 0, .5);
  padding: 3px 18px;
  outline: none;
  &::placeholder {
    font-family: inherit;
    color: $beige;
    font-size: 20px;
  }
}

h1 {
  font-family: 'Merriweather', serif;
  font-size: 60px;
  line-height: 120px;
  font-weight: bold;
  color: #FFF;
}

@media (max-width: $md1) {
  .hero-container {
    font-weight: normal;
  }
}

h2 {
  font-family: 'Merriweather', serif;
  font-size: 40px;
  line-height: 80px;
  font-weight: bold;
  color: $beige;
}

@media (max-width: $md1) {
  h2 {
    font-size: 32px;
    line-height: 40px;
  }
}

h3 {
  font-size: 20px;
  line-height: 40px;
  font-weight: bold;
}

@media (max-width: $md1) {
  h2 {
    font-size: 32px;
    line-height: 40px;
  }
}

._section__title {
  display: flex;
  justify-content: center;
}

._heading-h2 {
  display: flex;
  align-items: center;
  font-family: 'Merriweather', serif;
  font-size: 40px;
  line-height: 80px;
  font-weight: bold;
  color: $beige;
  width: 50%;
  overflow-x: hidden;
  &::before {
    margin-right: 20px;
    content: "";
    display: block;
    width: 100%;
    height: 2px; 
    background-color: $beige;
}
  &::after {
    margin-left: 20px;
    content: "";
    display: block;
    width: 100%;
    height: 2px; 
    background-color: $beige;
}
}

@media (max-width: $md1) {
  ._heading-h2 {
    font-size: 32px;
    line-height: 40px;
  }
}